@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@400;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Anek Bangla', Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}



/* Hide Amplify default colors and background */
[data-amplify-authenticator] [data-amplify-container] {
  width: 100%!important;
  max-width: 400px;
  border: none;
}
[data-amplify-authenticator] [data-amplify-router] {
    background-color: #fff!important;
    box-shadow: 0 0 0 #fff!important;
    border-color: none!important;
    border-width: 0px!important;
    border-style: none!important;
}

[data-amplify-authenticator] [data-amplify-form] {
    padding: 0px!important;
}